*.apk
*.ap_
*.dex
*.class
bin/
gen/
.gradle/
build/
/*/build/
local.properties
proguard/
*.log
Words-iOS/Words.xcodeproj/project.xcworkspace/xcuserdata/al333z.xcuserdatad/UserInterfaceState.xcuserstate